@using _4.CusView.ModelRequest;
@model ChiTietSanPhamChiTietRequest;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _4.CusView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_4.CusView.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="view-image-product">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @if (Model.data.lstanh.Any())
                            {
                                @foreach (var item in Model.data.lstanh)
                                {
                                    <div class="carousel-item active">
                                        <img src="~/img/PRODUCT/@item.linkAnh" class="d-block w-100" alt="...">
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="carousel-item active">
                                    <img src="~/img/PRODUCT/26.jpg" class="d-block w-100" alt="null">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="view-properties-product">
                    <div class="name">
                        <h4> @Html.DisplayFor(model => model.data.ten)</h4>
                    </div>
                    <div class="money">
                        <p>
                            <span style="color: #e0826f; font-weight: lighter;text-decoration: line-through;"> </span> Giá : @Html.DisplayFor(model => model.data.giaban) <span>VNĐ</span>
                        </p>
                    </div>
                    <form asp-controller="Home" asp-action="Add" asp-route-idspct="@Model.data.idsqct">
                        <div class="ship">
                            <p>
                                Vận chuyển
                                <span class><i class="bi bi-truck"></i> Miễn phí vận chuyển</span>
                            </p>
                            @*                        @if (name != null)
                            {
                            <p class="p">
                            <i class="bi bi-truck" style="color: #000"></i> Vận chuyển tới
                            <span>
                            @diachi
                            </span>
                            </p>
                            }
                            *@
                            <p class="p2">
                                Phí vận chuyển
                                <span> 0đ</span>
                            </p>
                            <p class="p4">
                                @*                            @if (loi != null)
                                {
                                <div class="alert alert-danger">
                                @loi
                                </div>
                                }*@

                                Size:
                                @foreach (var item in Model.data.lstsize)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="idSize" value="@item.Id">
                                        <label class="form-check-label" for="inlineRadio1">@item.Size</label>
                                    </div>
                                }
                            </p>
                            <p class="p5">
                                Màu sắc:
                                <button type="button" value="" class="btn btn-secondary">@Html.DisplayFor(model => model.data.mausac)</button>
                            </p>
                            <p class="p3">
                                @*                            @if (loi != null)
                                {
                                <div class="alert alert-danger">
                                @loi
                                </div>
                                }*@
                                Số lượng
                                <input type="number" name="soluong" value="1" />
                            </p>
                        </div>
                        <div class="detail_button">
                            <div class="d-grid gap-2 d-md-block"
                                 style="text-align: center; margin-top: 20px">
                                <button class="btn btn-outline-light border-radius-sm"
                                        type="submit"
                                        style="background-color: #23ab9b">

                                    <a class="nav-link"> <i class="bi bi-cart-plus"></i> Thêm vào giỏ hàng</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
